@import "tailwindcss";


@theme {
  /* Colors */
  --color-slate-950: #020617;
  --color-rose-600: #e11d48;

  /* Fonts */
  --font-heading: "Montserrat", sans-serif;
  --font-sans: "Inter", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));


@layer base {
  html {
    font-family: var(--font-sans); /* Default = Inter */
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  }

  body {
    @apply bg-white text-slate-900 dark:bg-slate-950 dark:text-slate-100;
  }

  /* Headings use Montserrat */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
    font-weight: 700;
  }
}

/* ============================= */
/* CUSTOM UTILITIES */
/* ============================= */
@layer components {
  .font-heading {
    font-family: var(--font-heading);
  }
}